/**
 * standard body layotu
 */
body, button, input, select, textarea {
    color: #606060;
    font-family: "Oxygen",sans-serif;
    font-size: 14px;
    font-size: 1.4rem;
    line-height: 1.6;
}
body {background-color:#f8f8f8; }
a {
    color: #16bcbc;
    text-decoration: none;
}
a:focus, a:hover {
    color: #337AB7;
    text-decoration: none;
}

/**************Generic classes*********************************/

.horizontalgap{padding-top:52px; clear: both; }
.headerspace {height:100px; width:100%}
.block-heading{text-align: center;padding-bottom: 10px;}
.block-heading::after {
    content: "";
    font-family: "FontAwesome";
    padding-left: 22px;
    text-align: center;
    color: #F75B4F;
}

/************************************************************
* Navbar css
************************************************************/
a.name.navbar-brand {
   
    padding-top: 16px;
    font-size: 31px;
}
.navbar-default {
    border-radius: 0;
    margin-bottom: 0;
    background: linear-gradient(to bottom, rgba(0,0,0,0.43) 0%,rgba(0,0,0,0.16) 100%);
    height: 82px;
  position: absolute;
    border: transparent;
    z-index: 12;
    width: 100%;
}
.navbar-nav > li {
    
    line-height: 1.6em;
    margin: 0 5px;
    padding: 10px;
}
.navbar.navbar-default li a {
    color: #fff;
    margin-top: 10px;
}
.navbar-brand{
    color: #fff !important;
    font-size: 1.6em;
    font-weight: 700;
    line-height: 1.6em;
}
ul.navbar-nav.menu.nav li:hover {
    background-color: #fff;
    color: #000;
}
/******************* Carousel ******************************************/
header#myCarousel {
    height: 100%;
    position: relative;
    
}
.fill{
height:729px;
background-size: cover;
}
.carousel-caption {
    right: 20%;
    left: 4%;
    padding-bottom: 38px;
     animation: animate-caption;
    animation-duration: 1s;
    animation-timing-function: ease;
}
.carousel-control.left ,.carousel-control.right {
    background-image: none;
    background-repeat: repeat-x;
    outline: none;
   
   
}


.carousel-caption h4 {
    background-color: rgba(0,0,0,.6);
    width: 50%;
    padding: 20px 20px 10px 10px;
    font-size: 36px;
   
    
}
.carousel-caption p {
    background-color: rgba(0,0,0,0.6);
    width: 70%;
    padding: 10px 10px 10px 10px;
    font-size: 20px;
}
.carousel-indicators {
    bottom: 20px;
    visibility: hidden;
}
@keyframes animate-caption {
    0% {left: 0;}
    100% {left: 200px}
    
}
@-webkit-keyframes animate-caption {
 0% {left: 0;}
100% {left: 200px;}
}
@keyframes change {
    0% {color: red}
    20%{color: green}
    40%{color: yellow}
    60%{color: brown}
    100%{color: black}
    
}
@-webkit-keyframes change {
    0% {color: red}
    20%{color: green}
    40%{color: yellow}
    60%{color: brown}
    100%{color: black}
    
}
.carousel-control .icon-prev::before  {
    background: white none repeat scroll 0 0;
    color: black;
    content: "‹";
    padding: 15px 30px;
    }
.carousel-control .icon-next::before {
    background: white none repeat scroll 0 0;
    color: black;
    
    padding: 15px 30px;
}
/******/
/*****************************Page css ***********************/

.region.region-content-top {
    background-color: #fff;
    padding-top: 30px;
}
.jumbotron {
    background-color: #fff;
    text-align: center;
    
}
.jumbotron p {font-size: 28px;}
span:nth-child(2).quickedit-field {
    color: rgba(73, 153, 173, 0.9);
    font-weight: 700;
}

/*********************Contact us page *****************/

h3.loc ,h3.ph-no ,h3.mail {
    border-bottom: 1px solid #e2e2e2;
    padding-bottom: 10px;
}
h3.loc:before {
    content: "\f041";
    margin-right: 10px;
    font-size: xx-large;
    color: rgb(249, 116, 116);
  
    font-family: Fontawesome;
}
h3.ph-no:before {
    font-family: Fontawesome;
    content: "\f10a";
    color: #598FE2;
     margin-right: 10px;
    font-size: xx-large;
}
h3.mail:before {
    font-family: Fontawesome;
    content: "\f0e0";
    color: #4ABD8E;
      margin-right: 10px;
    font-size: xx-large;
}
.row.contact-centre {
    text-align: center;
}
/***********Sidebar CSS************************************************************/

ul.feature_articles li {
    list-style: none;
    padding: 7px 0px;
    border-bottom: 1px dotted #ddd;
    line-height: 2.6em;
    color: #6f7779;
    text-decoration: none;
}
ul.feature_articles {padding-left: 0;}
.Related_articles h3 {font-size: 20px;
    color: #000;
    height: 40px;
    margin-bottom: 20px;
    line-height: 40px;
    font-weight: bold;}
.input-group {
    margin-top: 20px;
}
/******************Footer region ***********************************/
.footer {
    margin-top: 45px;
    padding-top: 35px;
    padding-bottom: 36px;
    border-top: 1px solid #E5E5E5;
    background-color: #23272b;
}
/*******************Breadcrumb *********************************************/
.breadcrumb {
    background: linear-gradient(to bottom, rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.8) 100%);
    padding: 35px;
    border-radius: 0;
    font-size: 25px;
    margin-top:82px;
    margin-bottom: 0;
}
.breadcrumb li.active {
    color: #fff;
}
